# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/BE-C#-----Listener-Crawler/FaturasHandler.API/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-C#-----Listener-Crawler/FaturasHandler.API/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.API/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-C#-----Listener-Crawler/FaturasHandler.API/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/ref/FaturasHandler.Services.dll
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/refint/FaturasHandler.Services.dll
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.AssemblyInfo.cs
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.AssemblyInfoInputs.cache
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.assets.cache
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.csproj.AssemblyReference.cache
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.csproj.CoreCompileInputs.cache
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.csproj.FileListAbsolute.txt
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.dll
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.GeneratedMSBuildEditorConfig.editorconfig
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.sourcelink.json
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/FaturasHandler.Services.csproj.nuget.dgspec.json
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/FaturasHandler.Services.csproj.nuget.g.props
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/project.assets.json
/BE-C#-----Listener-Crawler/FaturasHandler.API/obj/project.nuget.cache
*.vsidx
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/28db9fa1-250e-4b58-a1cb-52f3d1851b75.vsidx
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/18d9f7ec-f71e-4207-adef-7981895468e1.vsidx
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/48a824a7-637c-4d38-8b6c-6dd41b8a40f7.vsidx
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/71e91442-d8e6-4300-a860-c8e14f785e60.vsidx
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/9ce168c9-0518-47d0-a630-126189ff2427.vsidx
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/DesignTimeBuild/.dtbcache.v2
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/v17/.futdcache.v2
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/v17/.suo
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/.vs/ProjectEvaluation/faturashandler.crawler.metadata.v7.bin
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/.vs/ProjectEvaluation/faturashandler.crawler.projects.v7.bin
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Crawler.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Crawler.exe
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Crawler.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.IoC.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/ref/FaturasHandler.Crawler.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/refint/FaturasHandler.Crawler.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/apphost.exe
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.AssemblyInfo.cs
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.AssemblyInfoInputs.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.assets.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.csproj.AssemblyReference.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.csproj.CoreCompileInputs.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.csproj.FileListAbsolute.txt
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.GeneratedMSBuildEditorConfig.editorconfig
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.genruntimeconfig.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.sourcelink.json
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.AssemblyInfo.cs
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.AssemblyInfoInputs.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.assets.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.csproj.CoreCompileInputs.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.csproj.FileListAbsolute.txt
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.GeneratedMSBuildEditorConfig.editorconfig
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.genruntimeconfig.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.sourcelink.json
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/FaturasHandler.Data.csproj.nuget.dgspec.json
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/FaturasHandler.Data.csproj.nuget.g.props
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/project.assets.json
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/project.nuget.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/FaturasHandler.Crawler.csproj.nuget.dgspec.json
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/FaturasHandler.Crawler.csproj.nuget.g.props
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/project.assets.json
/BE-C#-----Listener-Crawler/FaturasHandler.Crawler/obj/project.nuget.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Data/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Data/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/ref/FaturasHandler.Data.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/refint/FaturasHandler.Data.dll
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.IoC.dll
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/ref/FaturasHandler.IoC.dll
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/refint/FaturasHandler.IoC.dll
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.AssemblyInfo.cs
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.AssemblyInfoInputs.cache
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.assets.cache
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.csproj.AssemblyReference.cache
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.csproj.CoreCompileInputs.cache
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.csproj.FileListAbsolute.txt
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.dll
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.GeneratedMSBuildEditorConfig.editorconfig
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.sourcelink.json
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/FaturasHandler.IoC.csproj.nuget.dgspec.json
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/FaturasHandler.IoC.csproj.nuget.g.props
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/project.assets.json
/BE-C#-----Listener-Crawler/FaturasHandler.IoC/obj/project.nuget.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Crawler.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Crawler.exe
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Crawler.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.IoC.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Listener.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Listener.exe
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Listener.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/ref/FaturasHandler.Listener.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/refint/FaturasHandler.Listener.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/apphost.exe
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.AssemblyInfo.cs
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.AssemblyInfoInputs.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.assets.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.csproj.AssemblyReference.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.csproj.CoreCompileInputs.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.csproj.FileListAbsolute.txt
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.dll
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.GeneratedMSBuildEditorConfig.editorconfig
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.genruntimeconfig.cache
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.pdb
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.sourcelink.json
/BE-C#-----Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/runtimes
/BE-C#-----Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0
/BE-C#-----Listener-Crawler/FaturasHandler.WebAPI/obj/Debug/net8.0
/BE-C#-----Listener-Crawler/FaturasHandler.WebAPI/obj
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/FaturasHandler.Listener.csproj.nuget.dgspec.json
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/FaturasHandler.Listener.csproj.nuget.g.props
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/project.assets.json
/BE-C#-----Listener-Crawler/FaturasHandler.Listener/obj/project.nuget.cache
/BE-Listener-Crawler/FaturasHandler.API/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.API/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-Listener-Crawler/FaturasHandler.API/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.API/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-Listener-Crawler/FaturasHandler.API/bin/Release/net8.0/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.API/bin/Release/net8.0/FaturasHandler.Data.pdb
/BE-Listener-Crawler/FaturasHandler.API/bin/Release/net8.0/FaturasHandler.Services.deps.json
/BE-Listener-Crawler/FaturasHandler.API/bin/Release/net8.0/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.API/bin/Release/net8.0/FaturasHandler.Services.pdb
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.AssemblyInfo.cs
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.AssemblyInfoInputs.cache
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.csproj.AssemblyReference.cache
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.csproj.FileListAbsolute.txt
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.pdb
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.sourcelink.json
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/ref/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/refint/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.AssemblyInfo.cs
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.AssemblyInfoInputs.cache
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.assets.cache
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.csproj.AssemblyReference.cache
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.csproj.CopyComplete
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.csproj.CoreCompileInputs.cache
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.csproj.FileListAbsolute.txt
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.GeneratedMSBuildEditorConfig.editorconfig
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.GlobalUsings.g.cs
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.pdb
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/FaturasHandler.Services.sourcelink.json
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/ref/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.API/obj/Release/net8.0/refint/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Crawler.dll
/BE-Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Crawler.exe
/BE-Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Crawler.pdb
/BE-Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/apphost.exe
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.AssemblyInfo.cs
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.AssemblyInfoInputs.cache
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.csproj.AssemblyReference.cache
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.dll
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.pdb
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.sourcelink.json
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/refint/FaturasHandler.Crawler.dll
