# Ignore all bin and obj folders from the root level
**/bin/
**/obj/
**/obj/Debug/8.0

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/2ac9a5e2-b9ad-4e90-97f8-d8c588434fa5.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/2c0ca237-9cd2-49cc-9b42-891c53ef049b.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/58450c40-c94c-4e60-91bd-ecc083967dab.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/80bcfc6a-bf24-4c58-8228-be983207df57.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/a796b411-fe8c-497f-b6bb-b253f8e192eb.vsidx
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.AssemblyInfo.cs
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.AssemblyInfoInputs.cache
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.csproj.AssemblyReference.cache
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.sourcelink.json
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.WebAPI.dll
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.WebAPI.exe
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.WebAPI.pdb
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - FTP.pubxml
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - FTP.pubxml.user
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Web Deploy.pubxml
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Web Deploy.pubxml.user
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Zip Deploy.pubxml
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Zip Deploy.pubxml.user
/BE-Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/ref/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/refint/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/ref/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/refint/FaturasHandler.IoC.dll
