# Ignore all bin and obj folders from the root level
**/bin/
**/obj/
**/obj/Debug/8.0

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/2ac9a5e2-b9ad-4e90-97f8-d8c588434fa5.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/2c0ca237-9cd2-49cc-9b42-891c53ef049b.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/58450c40-c94c-4e60-91bd-ecc083967dab.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/80bcfc6a-bf24-4c58-8228-be983207df57.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/a796b411-fe8c-497f-b6bb-b253f8e192eb.vsidx
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.AssemblyInfo.cs
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.AssemblyInfoInputs.cache
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.csproj.AssemblyReference.cache
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.sourcelink.json
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.WebAPI.dll
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.WebAPI.exe
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.WebAPI.pdb
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - FTP.pubxml
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - FTP.pubxml.user
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Web Deploy.pubxml
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Web Deploy.pubxml.user
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Zip Deploy.pubxml
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Zip Deploy.pubxml.user
/BE-Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/ref/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/refint/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/ref/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/refint/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/ref/FaturasHandler.Crawler.dll
/BE-Listener-Crawler/FaturasHandler.Data/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.Data/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-Listener-Crawler/FaturasHandler.WebAPI/.config/dotnet-tools.json
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.AssemblyInfo.cs
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.AssemblyInfoInputs.cache
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.csproj.AssemblyReference.cache
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.csproj.FileListAbsolute.txt
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.dll
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.pdb
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.sourcelink.json
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/apphost.exe
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/ref/FaturasHandler.Listener.dll
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/refint/FaturasHandler.Listener.dll
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.IoC.pdb
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Listener.dll
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Listener.exe
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Crawler.pdb
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Data.dll
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Data.pdb
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Crawler.dll
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Crawler.exe
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.IoC.dll
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Listener.pdb
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Services.dll
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Services.pdb
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.assets.cache
/BE-Listener-Crawler/FaturasHandler.API/obj/FaturasHandler.Services.csproj.nuget.dgspec.json
/BE-Listener-Crawler/FaturasHandler.API/obj/FaturasHandler.Services.csproj.nuget.g.props
/BE-Listener-Crawler/FaturasHandler.API/obj/project.assets.json
/BE-Listener-Crawler/FaturasHandler.API/obj/project.nuget.cache
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/DesignTimeBuild/.dtbcache.v2
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/0a384c95-13b0-450a-bba8-08ec0c89ec4f.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/7e1d158c-11a0-440c-9ac8-1f0689d4af94.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/v17/.futdcache.v2
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/v17/.suo
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/v17/DocumentLayout.json
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/ProjectEvaluation/faturashandler.crawler.metadata.v7.bin
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/ProjectEvaluation/faturashandler.crawler.projects.v7.bin
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.assets.cache
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.csproj.FileListAbsolute.txt
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/FaturasHandler.Crawler.csproj.nuget.dgspec.json
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/FaturasHandler.Crawler.csproj.nuget.g.props
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/project.assets.json
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/project.nuget.cache
/BE-Listener-Crawler/FaturasHandler.Data/Context/FaturaDbContext.cs
/BE-Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.assets.cache
/BE-Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.csproj.AssemblyReference.cache
/BE-Listener-Crawler/FaturasHandler.Data/obj/FaturasHandler.Data.csproj.nuget.dgspec.json
/BE-Listener-Crawler/FaturasHandler.Data/obj/FaturasHandler.Data.csproj.nuget.g.props
/BE-Listener-Crawler/FaturasHandler.Data/obj/project.assets.json
/BE-Listener-Crawler/FaturasHandler.Data/obj/project.nuget.cache
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.assets.cache
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.csproj.FileListAbsolute.txt
/BE-Listener-Crawler/FaturasHandler.IoC/obj/FaturasHandler.IoC.csproj.nuget.dgspec.json
/BE-Listener-Crawler/FaturasHandler.IoC/obj/FaturasHandler.IoC.csproj.nuget.g.props
/BE-Listener-Crawler/FaturasHandler.IoC/obj/project.assets.json
/BE-Listener-Crawler/FaturasHandler.IoC/obj/project.nuget.cache
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.assets.cache
/BE-Listener-Crawler/FaturasHandler.Listener/obj/FaturasHandler.Listener.csproj.nuget.dgspec.json
/BE-Listener-Crawler/FaturasHandler.Listener/obj/FaturasHandler.Listener.csproj.nuget.g.props
/BE-Listener-Crawler/FaturasHandler.Listener/obj/project.assets.json
/BE-Listener-Crawler/FaturasHandler.Listener/obj/project.nuget.cache
/BE-Listener-Crawler/FaturasHandler.Listener/appsettings.json
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/appsettings.json
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/appsettings.json
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/FaturasHandler.WebAPI.deps.json
/BE-Listener-Crawler/FaturasHandler.WebAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/Debug/net8.0/FaturasHandler.WebAPI.assets.cache
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/Debug/net8.0/FaturasHandler.WebAPI.csproj.CoreCompileInputs.cache
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/FaturasHandler.WebAPI.csproj.nuget.dgspec.json
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/FaturasHandler.WebAPI.csproj.nuget.g.props
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/project.assets.json
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/project.nuget.cache
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - FTP1.pubxml
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - FTP1.pubxml.user
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Web Deploy1.pubxml
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Web Deploy1.pubxml.user
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Zip Deploy1.pubxml
/BE-Listener-Crawler/FaturasHandler.WebAPI/Properties/PublishProfiles/faturashanlder-api-dev - Zip Deploy1.pubxml.user
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.csproj.CoreCompileInputs.cache
/BE-Listener-Crawler/FaturasHandler.API/obj/Debug/net8.0/FaturasHandler.Services.GeneratedMSBuildEditorConfig.editorconfig
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/5d94c30c-562d-439d-a0a5-b72e2894f2ca.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/v17/DocumentLayout.backup.json
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.csproj.CoreCompileInputs.cache
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.GeneratedMSBuildEditorConfig.editorconfig
/BE-Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.csproj.CoreCompileInputs.cache
/BE-Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.csproj.FileListAbsolute.txt
/BE-Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.GeneratedMSBuildEditorConfig.editorconfig
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.GeneratedMSBuildEditorConfig.editorconfig
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.csproj.CoreCompileInputs.cache
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.GeneratedMSBuildEditorConfig.editorconfig
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/Debug/net8.0/FaturasHandler.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/BE-Listener-Crawler/FaturasHandler.IoC/obj/Debug/net8.0/FaturasHandler.IoC.csproj.CoreCompileInputs.cache
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/Debug/net8.0/FaturasHandler.WebAPI.MvcApplicationPartsAssemblyInfo.cs
/BE-Listener-Crawler/FaturasHandler.API/bin/Debug/net8.0/FaturasHandler.Services.deps.json
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/FaturasHandler.Crawler/FileContentIndex/094cdfa2-03fd-4a77-b5bc-1be284e2ee17.vsidx
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/ProjectEvaluation/faturashandler.crawler.metadata.v9.bin
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/ProjectEvaluation/faturashandler.crawler.projects.v9.bin
/BE-Listener-Crawler/FaturasHandler.Crawler/.vs/ProjectEvaluation/faturashandler.crawler.strings.v9.bin
/BE-Listener-Crawler/FaturasHandler.Crawler/bin/Debug/net8.0/FaturasHandler.Crawler.deps.json
/BE-Listener-Crawler/FaturasHandler.Data/bin/Debug/net8.0/FaturasHandler.Data.deps.json
/BE-Listener-Crawler/FaturasHandler.IoC/bin/Debug/net8.0/FaturasHandler.IoC.deps.json
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Crawler.deps.json
/BE-Listener-Crawler/FaturasHandler.Listener/bin/Debug/net8.0/FaturasHandler.Listener.deps.json
/BE-Listener-Crawler/FaturasHandler.Listener/obj/Debug/net8.0/FaturasHandler.Listener.genruntimeconfig.cache
/BE-Listener-Crawler/FaturasHandler.Data/obj/Debug/net8.0/FaturasHandler.Data.genruntimeconfig.cache
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/Debug/net8.0/FaturasHandler.WebAPI.genruntimeconfig.cache
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.FaturasHandler.WebAPI.props
/BE-Listener-Crawler/FaturasHandler.WebAPI/obj/Debug/net8.0/staticwebassets.build.json
/BE-Listener-Crawler/FaturasHandler.Crawler/obj/Debug/net8.0/FaturasHandler.Crawler.genruntimeconfig.cache
