<div id="kt_app_footer" class="app-footer">
  <div class="app-container container-xxl d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
    <!-- Left Column for Social Media Icons -->
    <div class="d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
      <!--begin::Icon-->
      <a href="#" class="mx-4">
        <img src="/assets/media/svg/brand-logos/facebook-4.svg" class="h-30px my-2" alt="">
      </a>
      <!--end::Icon-->

      <!--begin::Icon-->
      <a href="#" class="mx-4">
        <img src="/assets/media/svg/brand-logos/instagram-2-1.svg" class="h-30px my-2" alt="">
      </a>
      <!--end::Icon-->

      <!--begin::Icon-->
      <a href="#" class="mx-4">
        <img src="/assets/media/svg/brand-logos/twitter.svg" class="h-30px my-2" alt="">
      </a>
      <!--end::Icon-->
    </div>

    <!-- Middle Column for 2024 FaturasApp -->
    <div class="text-gray-900 order-2 order-md-1 d-flex justify-content-center justify-content-md-center mb-3 mb-md-0">
      <span class="text-muted fw-semibold me-1">2025&copy;</span>
      <span class="text-muted fw-semibold me-1">FaturasApp</span>
    </div>

    <!-- Right Column for Flags -->

  </div>
</div>